.btn {
  background: DodgerBlue;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
@media(max-width:500px){
  #t {
    overflow: auto;
  } 


}
#table_modal {
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(206, 137, 193);
  box-shadow: 20px 20px 20px black;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  overflow-x:auto;
}
h1 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #941674;
}
table {
  border-collapse: collapse;
  width: 110%;
  border-spacing: 0;
}
th,
td {
  text-align:left;
  padding: 8px;
  border-bottom: 3px solid #ddd;
}
tr {
  background-image: linear-gradient(
    to left,
    rgb(190, 218, 226),
    rgb(245, 236, 243)
  );
  text-align: left;
}
th {
  background-color: rgb(64, 57, 138);
  color: white;
}
.b10 {
  filter: drop-shadow(10px 10px 10px rgb(37, 33, 33));
  border-radius: px;
  background-image: linear-gradient(
    to left,
    rgb(253, 253, 253),
    rgb(141, 200, 206)
  );
  position:relative;
 margin-top: 50%;
 margin-left: 160%;
  box-shadow: 20px 20px 20px rgb(100, 97, 97);
}
.b11 {
  border: 1px solid #e0e0d1;
  border-radius: 10px;
  display: inline;

  cursor: pointer;
  color: white;
  background-color: #1c4d8d;
  outline: none;
}
.b11:hover {
  background-color: #466c9c;
}
::-webkit-file-upload-button {
  color: white;
  outline: none;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(4, 7, 0);
  border: 1px solid #e0e0d1;
  cursor: pointer;
}
::-webkit-file-upload-button:hover {
  background-color: rgba(66, 64, 63, 0.822);
  border: 1px solid #e0e0d1;
}
body {
  background-image: linear-gradient(
    to left,
    rgb(232, 234, 238),
    rgb(192, 209, 221)
  );
  display:inline-block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}
.pointer {
  cursor: pointer;
}
#filebox {
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(145, 78, 165);
  box-shadow: 20 20 20px black;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 10px;
  display: none;
  transform: translate(-50%, -50%);
}
#img_box {
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(206, 137, 193);
  box-shadow: 20px 20px 20px black;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 10px;
  display: none;
  transform: translate(-50%, -50%);
}
#file_box {
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(206, 137, 193);
  box-shadow: 20px 20px 20px black;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 10px;
  display: none;
  transform: translate(-50%, -50%);
}
.dropdown {
  background-color: #3da1bd;
  font-size: large;
}
#file7:hover {
  cursor: pointer;
}
#photo7:hover {
  cursor: pointer;
}
#d_submit {
  display: inline-block;
}
#d_reset {
  display: inline-block;
}
#d_update {
  display: none;
}
#d_add {
  display: none;
}
#file {
  display: inline-block;
}
#photo {
  display: inline-block;
}
#file7 {
  display: none;
}
#photo7 {
  display: none;
}
#f_edit {
  display: none;
}
#p_edit {
  display: none;
}
#viewbox {
  border: 1px solid #ccc;
  text-align: center;
  background: rgb(145, 78, 165);
  box-shadow: 20px 20px 20px black;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  left: 50%;
  padding: 10px;
  display: none;
  transform: translate(-50%, -50%);
}
.close {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(214, 15, 15);
  border-radius: 10px;
}
